<!DOCTYPE html>
<html lan="en">
    <head>
        <meta charset="UTF-8">
        <title>xBay</title>
    </head>

    <header>
        <h1>xBay - The Everything Store</h1>
    </header>
    <style>
        .alert {
                padding: 20px;
                color: #970020;
                background-color: #ffd5de;
            }
    </style>
    <nav>
        <h1>xBay edit</h1>
        <a href="{{ url_for('index') }}">Return to login</a>
        <a href="{{ url_for('edit') }}">Edit Account</a>
        <a href="{{ url_for('view') }}">View Listings</a>
        <a href="{{ url_for('add') }}">Add Listing</a>
    </nav>
    <div>
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
    </div>
    <body>
        <h2>Edit Account Information</h2>
        <p>Username: {{ user_info[1] }}</p>
        <p>Email: {{ user_info[3] }}</p>
        <form id="account_form" method=post action=edit>
            <label for="new_username">New Username</label>
            <input type="text" id="new_username" name="new_username"><br>
            <label for="new_email">New Email</label>
            <input type="text" id="new_email" name="new_email"><br>
            <button for="account_form" type="submit">Enter</button>
        </form>
    </body>
    <footer>
        <p>Footer Crap</p>
    </footer>
</html>
