<!DOCTYPE html>
<html lan="en">
    <head>
        <meta charset="UTF-8">
        <title>xBay</title>
    </head>

    <header>
        <h1>xBay - The Everything Store</h1>
    </header>
    <style>
        .alert {
                padding: 20px;
                color: #970020;
                background-color: #ffd5de;
            }
    </style>
    <nav>
        <h1>xBay view</h1>
        <a href="{{ url_for('menu') }}">Main Menu</a>
        <a href="{{ url_for('edit') }}">Edit Account</a>
        <a href="{{ url_for('view') }}">View Listings</a>
        <a href="{{ url_for('add') }}">Add Listing</a>
        <a href="{{ url_for('orders') }}">View Orders</a>
        <a href="{{ url_for('index') }}">Log-out</a>
    </nav>
    <div>
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
    </div>
    <body>
        <h1>{% block title %} Current Listings {% endblock %}</h1>
        
        <form id="search_form" method=post action=filter_search>
            <label for="text_search">Listing Name</label>
            <input type="text" id="text_search" name="text_search"><br>

            <label for="min_price">Min Price</label>
            <input type="number" id="min_price" name="min_price"><br>

            <label for="max_price">Max Price</label>
            <input type="number" id="max_price" name="max_price"><br>

            <button for="search_form" id="search_btn" type="submit">Search</button>
        </form>

        {% for listing in listings %}
        <div>
            <form id="purchase_form" method=post action=purchase_listing>
                <h2>{{ listing[0] }}</h2>
                <p>Seller: {{ listing[1] }}
                <p>Description: {{ listing[2] }}</p>
                <p>Price: ${{ listing[3] }}</p>
                <p>Quantity: {{ listing[4] }}</p>
                
                <label for="selected_quantity">Quantity</label>
                <input type="number" id="selected_quantity" min="0" max="{{ listing[4] }}" name="selected_quantity" value="0">
                
                <button for="purchase_form" type="submit">Purchase</button>

                <input type="hidden" name="name" value="{{ listing[0] }}">
                <input type="hidden" name="description" value="{{ listing[2] }}">
                <input type="hidden" name="price" value="{{ listing[3] }}">
                <input type="hidden" name="quantity" value="{{ listing[4] }}">
            </form>
        </div>
        {% endfor %}
    </body>
    <footer>
        <p>Footer Crap</p>
    </footer>
</html>
